.cate img{
    height: 30rem !important;
    width: 40rem;
    background: #fafafa;
    margin-top: 2rem;
}

.category-img{
    position: relative;
}
.category-text{
    position: absolute;
    top: 2rem;
}
.category-text {
    position: absolute;
    top: 5rem;
    width: 70%;
    padding: 2rem 4rem;
}
.category-text h3{
    color: var(--blue);
    font-size: 2.5rem;
}
.category-text h5{
    font-size: 5rem;
    color: var(--yellow);
    font-weight: bold;
}
.category-text button,
.latest-product button{
    margin-top: 3rem;
    padding: .5rem 2rem;
    background: var(--blue);
    border-radius: 3rem;
    color: #fff;
    transition: all ease 0.3s;
    font-size: 1.5rem;
    font-weight: 600;
}
.category-text button:hover{
    background: var(--yellow);
    color: #fff;
}